Repository egc-articuno/decide, pull requests merged in 2019-12, with the labels that each got.

#12 Configuration : Templates added
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/pull-request-template.md
Labels: documentation

#32 fix (booth): Spelling mistake
  decide/booth/templates/booth/booth.html
Labels: booth

#34 feat(booth) Basic translation of booth
  decide/decide/settings.py
  decide/locale/es/LC_MESSAGES/django.po
Labels: booth, enhancement

#43 feat(booth) Manual language selection
  decide/booth/templates/booth/booth.html
  decide/booth/urls.py
  decide/locale/es/LC_MESSAGES/django.po
Labels: booth, enhancement
